src/PST.UI.Common/Service References/FFPService/FFPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FFPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2764/FFPService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2764/FFPService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2764/FFPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PST.Domain" />
      <xsd:import schemaLocation="http://localhost:2764/FFPService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFFPService_AddItems_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItems" />
  </wsdl:message>
  <wsdl:message name="IFFPService_AddItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IFFPService_RemoveBySetId_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBySetId" />
  </wsdl:message>
  <wsdl:message name="IFFPService_RemoveBySetId_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBySetIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFFPService_RemoveBySetName_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBySetName" />
  </wsdl:message>
  <wsdl:message name="IFFPService_RemoveBySetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBySetNameResponse" />
  </wsdl:message>
  <wsdl:message name="IFFPService_GetSqlData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSqlData" />
  </wsdl:message>
  <wsdl:message name="IFFPService_GetSqlData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSqlDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IFFPService">
    <wsdl:operation name="AddItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IFFPService/AddItems" message="tns:IFFPService_AddItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFFPService/AddItemsResponse" message="tns:IFFPService_AddItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveBySetId">
      <wsdl:input wsaw:Action="http://tempuri.org/IFFPService/RemoveBySetId" message="tns:IFFPService_RemoveBySetId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFFPService/RemoveBySetIdResponse" message="tns:IFFPService_RemoveBySetId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveBySetName">
      <wsdl:input wsaw:Action="http://tempuri.org/IFFPService/RemoveBySetName" message="tns:IFFPService_RemoveBySetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFFPService/RemoveBySetNameResponse" message="tns:IFFPService_RemoveBySetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSqlData">
      <wsdl:input wsaw:Action="http://tempuri.org/IFFPService/GetSqlData" message="tns:IFFPService_GetSqlData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFFPService/GetSqlDataResponse" message="tns:IFFPService_GetSqlData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FFPService" type="tns:IFFPService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddItems">
      <soap:operation soapAction="http://tempuri.org/IFFPService/AddItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveBySetId">
      <soap:operation soapAction="http://tempuri.org/IFFPService/RemoveBySetId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveBySetName">
      <soap:operation soapAction="http://tempuri.org/IFFPService/RemoveBySetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSqlData">
      <soap:operation soapAction="http://tempuri.org/IFFPService/GetSqlData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FFPService">
    <wsdl:port name="FFPService" binding="tns:FFPService">
      <soap:address location="http://localhost:2764/FFPService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>