src/PST.UI.Common/Service References/FFPService/FFPService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2764/FFPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PST.Domain" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PST.Domain" minOccurs="0" name="item" nillable="true" type="q1:FFP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PST.Domain" minOccurs="0" name="AddResult" nillable="true" type="q2:ResponseOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>