src/PST.UI.Common/Service References/FFPSetService/FFPSetService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2764/FFPSetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PST.Domain" />
  <xs:element name="HasData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PST.Domain" minOccurs="0" name="HasDataResult" nillable="true" type="q1:ResponseOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PST.Domain" minOccurs="0" name="UpsertResult" nillable="true" type="q2:ResponseOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>