src/PST.UI.Common/Service References/WDResponseService/WDResponseService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2764/WDResponseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PST.Domain" />
  <xs:element name="AddItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PST.Domain" minOccurs="0" name="AddItemsResult" nillable="true" type="q1:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBySetId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBySetIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PST.Domain" minOccurs="0" name="RemoveBySetIdResult" nillable="true" type="q2:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBySetName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBySetNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PST.Domain" minOccurs="0" name="RemoveBySetNameResult" nillable="true" type="q3:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPNOs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ffpSetId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPNOsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PST.Domain" minOccurs="0" name="GetPNOsResult" nillable="true" type="q4:ResponseOfArrayOfstringuHEDJ7Dj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dispatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ffpSetId" type="xs:int" />
        <xs:element minOccurs="0" name="pno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DispatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PST.Domain" minOccurs="0" name="DispatchResult" nillable="true" type="q5:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>